*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg, rgba(44, 221, 210, 0.79) 20%, rgba(145, 31, 173, 0.92) 100%), url(annie-spratt-wuc-KEIBrdE-unsplash.png);
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}

header{
    width: 100%;
    text-align: end;
    padding: 0 5%;
    height: 10vh;
}

header h1{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 56px;
    font-family: sans-serif;
    margin-bottom: 20px;
    color: #FFFFFF;
}

header p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 10px;
    font-family: sans-serif;
    margin-left: 30%;
    color: #FFFFFF;
}

main{
    height: 88vh;
    display: grid;
    align-items: center
}

form{
    width: 40%;
    margin: auto;
    height: 300px;
}

form h1{
    display: inline;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 15px;
    color: #000000;
    border-bottom: 7px solid  #3AC5CD 
} h2{
    display: inline;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 15px;
    color: #000000;
    border-bottom: 7px solid  #3AC5CD 
}
 h4{
  
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15px;
    color: #000000;
  
}
input{
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 3px solid #fff;
    padding: 5px;
    margin: 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

input::placeholder {
    color: white
}

form p{
    text-align: center;
}

form p a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 50px;
}

label{
     display: block;
  position: relative
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #000000;
    cursor: pointer;
    margin-bottom: 50px;
    cursor: pointer;

}


form button{
    border: 5px solid rgba(44, 221, 210, 0.79);
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 10px;
    cursor: pointer;
    color: #FFFFFF;
    background: none;
    padding: 10px;
    margin: 20px 0;
    width: 260px;

}

.acc{
    
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    margin: 40px 0;
    color: #FFFFFF;
    text-align: left;

}

.acc a{
    cursor: pointer;
}
