*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg, rgba(44, 221, 210, 0.79) 0%, rgba(145, 31, 173, 0.92) 100%), url(annie-spratt-wuc-KEIBrdE-unsplash.png);
    background-size: cover;
    height: 98vh;
    font-family: sans-serif;
}

header{
    width: 100%;
    text-align: end;
    padding: 0 5%;
}

header h1{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    font-family: sans-serif;
    margin-bottom: 20px;
    color: #FFFFFF;
}

header p{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 20px;
    font-family: sans-serif;
    margin-left: 30%;
    color: #FFFFFF;
}

main{
    width: 30%;
    margin: auto;
    min-height: 300px;
}

main h1{
    display: inline;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 30px;
    color: #000000;
    border-bottom: 7px solid  #3AC5CD 
}

input{
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 3px solid #fff;
    padding: 5px;
    margin: 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

input::placeholder {
    color: white
}

main p a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    float: right;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 50px;
}

main button{
    border: 5px solid rgba(44, 221, 210, 0.79);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 12px;
    cursor: pointer;
    color: #FFFFFF;
    background: none;
    padding: 10px;
    margin: 20px 0;
    width: 200px;
}

.acc{
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin: 40px;
    color: #FFFFFF;
}

.acc a{
    float: none;
    cursor: pointer;
}